Repository hk4114/react-antd-admin: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write --ignore-unknown, eslint --fix, prettier --write, stylelint --fix

.lintstagedrc.json:

{
  "**/*": "prettier --write --ignore-unknown",
  "src/**.{js,jsx,ts,tsx}": ["eslint --fix", "prettier --write"],
  "**/*.{less,css}": ["stylelint --fix", "prettier --write"],
  "*.md": ["prettier --write"]
}

✨新增: 增加请求
  package.json
  src/App.js
  src/pages/Home/index.jsx
  src/utils/auth.js
  src/utils/request.js
  src/utils/tool.js
  yarn.lock
Due: prettier --write --ignore-unknown, eslint --fix, prettier --write

🐛修复: 取消重新请求
  src/pages/Home/index.jsx
  src/utils/request.js
  src/utils/tool.js
Due: prettier --write --ignore-unknown

✨新增: 新增组件
  .eslintrc.js
  package.json
  src/components/ErrorBoundary/index.jsx
  src/components/Loading/index.jsx
  src/components/Loading/index.less
  src/config/config.js
  src/config/nprogress.js
  src/config/serviceLoading.js
  yarn.lock
Due: prettier --write --ignore-unknown, prettier --write, stylelint --fix

🔧工具: 增加工具集
  README.md
  package.json
  src/App.js
  src/App.less
  src/components/Layout/index.jsx
  src/components/Layout/index.less
  src/pages/Home/index.jsx
  yarn.lock
Due: prettier --write --ignore-unknown, eslint --fix, prettier --write, stylelint --fix

✨新增(custom): 🔧工具: 增加工具集
  .stylelintrc.json
  README.md
  package-lock.json
  package.json
  src/components/Layout/index.jsx
  src/components/Layout/index.less
  yarn.lock
Due: prettier --write --ignore-unknown, prettier --write, stylelint --fix

✨新增(custom): 增加路由
  README.md
  public/favicon.ico
  public/picture_compress.ico
  src/App.jsx
  src/App.less
  src/components/Layout/index.jsx
  src/components/Loading/index.less
  src/components/Loading/lazyLoad.jsx
  src/index.js
  src/pages/About/index.jsx
  src/pages/Home/index.jsx
  src/routers/index.jsx
  yarn.lock
Due: prettier --write --ignore-unknown, eslint --fix, prettier --write, stylelint --fix

✨新增(custom): 修改
  src/components/ErrorPage/index.jsx
  src/components/ErrorPage/index.less
  src/components/Layout/index.jsx
  src/components/Layout/index.less
  src/index.js
  src/routers/index.jsx
Due: prettier --write --ignore-unknown, eslint --fix, prettier --write, stylelint --fix

💄格式(custom): 修改配置
  .gitignore
  craco.config.js
Due: prettier --write --ignore-unknown

🔧工具(custom): 样式lint修改
  .stylelintrc.js
  .stylelintrc.json
Due: prettier --write --ignore-unknown

feat: 添加重置样式
  .stylelintignore
  .stylelintrc.js
  src/styles/reset.css
Due: prettier --write --ignore-unknown, prettier --write, stylelint --fix
